@{
  Layout = "_Layout";
}

<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">City Info</h1>
    <!-- <img src="~/img/splash.jpg" alt="Letter printing blocks" class="letter-block"> -->
    <p class="lead">Welcome!</p>
    <hr class="my-4">
    <p class="align">Find all the data for cities!</p>
    <a class="btn btn-primary" href="/cities" role="button" style="margin-left: 35%">Click Here!</a>
  </div>
</div>
